{% extends 'base.html.twig' %}

{#{% block title %}Hello {{ controller_name }}!{% endblock %}#}

{% block body %}
    <main id="main" class="home">
        <section class="illu-hero">
            <div class="illu-hero__wrapper wdiv-bg-white">
                <div class="wdiv-illu-hero-bg"></div>
                <div class="illu-hero__inner wdiv-max-width-1190 cp--h1 center-column">
                    <div class="illu-hero__cube"></div>
                </div>
            </div>
            <div class="illu-hero__wrapper--no-overflow">
                <div class="illu-hero__blue"></div>
            </div>
            <div class="illu-hero__inner wdiv-max-width-1190 cp--h1 center-column">
                <div class="illu-hero__text tl--alpha">
                    {% trans %}homepage.vision.message{% endtrans %}
                </div>
            </div>
            <div class="illu-hero__lower sc--white">
                <div class="illu-hero__inner wdiv-max-width-1190 cp--h1 center-column">
                    <div id="citation-1" class="ref illu-hero__ref ts--beta" aria-label="citation number 1">
                        <a href="#ref-1" class="ref__number" aria-label="jump to reference in index">1</a>
                        <span class="ref__authors">Inga Israel</span>,
                        <a href="https://commons.wikimedia.org/wiki/File:Vision_Freies_Wissen_Illustration.png" class="ref__title">Vision Freies Wissen Illustration</a>,
                        <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" class="ref__license">CC BY-SA 4.0</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="mission sc--white">
            <div class="mission__inner limit--16 cp--h1 cp--v2 center-column clearfix">
                <div class="mission__headline tl--beta t--strong">&nbsp;<!-- Placeholder --></div>
                <div class="mission__text tl--gamma cp--0-5">
                    {% trans %}homepage.mission.message{% endtrans %}
                </div>
                <figure class="fig mission__image cm--l2 cm--t1">
                    {%
                        set person = random(
                            random(
                                random(
                                    staff.domains
                                ).teams
                            ).members
                        )
                    %}
                    <div>
                        <img src="{{ person.img }}" class="fig__media" alt="Portrait of Abraham Taherivand">
                        <div id="citation-2" class="ref fig__ref ts--beta" aria-label="citation number 2">
                            <a href="#ref-2" class="ref__number" aria-label="jump to reference in index">2</a>
                        </div>
                    </div>
                    <figcaption class="fig__caption mission__caption cm--l0-25">
                        <div class="tm--gamma t--caps">{{ person.firstname }}&nbsp;{{ person.lastname }}</div>
                        <div class="tm--gamma">{{ person.title_de }}</div>
                        <div class="tm--gamma"><br><a class="link--black ts--alpha" href="{{ path('peopleStaff') }}">Alle Mitarbeiter</a></div>
                    </figcaption>
                </figure>
            </div>
        </section>
        <section class="fields is-active-support">
            <div class="sc--lightblue fields--grid">
                <div class="limit--16 center-column cp--h1 cp--t1-25">
                    <h1 class="tl--beta t--strong">{% trans %}homepage.fields.header{% endtrans %}</h1>
                </div>
                <div class="field-buttons limit--16 center-column cp--h0-5 cp--t0-5 cp--b1-75">
                    <a
                            href="#fields-support"
                            class="field-button field-button--alpha corners corners--green cm--0-5 cp--0-5"
                            aria-controls="fields-blurb"
                            role="button"
                    >
                        <div class="field-button__inner tl--gamma">
                            {% trans %}homepage.fields.support.header{% endtrans %}
                        </div>
                    </a>
                    <a
                            href="#fields-dev"
                            class="field-button field-button--beta corners corners--green cm--0-5 cp--0-5"
                            aria-controls="fields-blurb"
                            role="button"
                    >
                        <div class="field-button__inner tl--gamma">
                            {% trans %}homepage.fields.development.header{% endtrans %}
                        </div>
                    </a>
                    <a
                            href="#fields-know"
                            class="field-button field-button--gamma corners corners--green cm--0-5 cp--0-5"
                            aria-controls="fields-blurb"
                            role="button"
                    >
                        <div class="field-button__inner tl--gamma">
                            {% trans %}homepage.fields.knowledge.header{% endtrans %}
                        </div>
                    </a>
                </div>
            </div>
            <div>
                <div class="fields__blurb-wrapper limit--16 center-column cp--b1 cp--h1">
                    <div id="fields-blurb" class="fields__blurb limit--8" aria-live="polite">
                        <div class="fields__blurb-top"></div>
                        <div class="fields__blurb-lower cp--0-5 tm--beta">
                            <article id="fields-support" class="fields__text">
                                {% trans %}homepage.fields.support.message{% endtrans %}
                                <p>
                                    <a class="link--black ts--alpha" href="{{ path('themes') }}">{% trans %}homepage.fields.more{% endtrans %}</a>
                                </p>
                            </article>
                            <article id="fields-dev" class="fields__text" hidden>
                                {% trans %}homepage.fields.development.message{% endtrans %}
                                <p>
                                    <a class="link--black ts--alpha" href="{{ path('themes') }}">{% trans %}homepage.fields.more{% endtrans %}</a>
                                </p>
                            </article>
                            <article id="fields-know" class="fields__text" hidden>
                                {% trans %}homepage.fields.knowledge.message{% endtrans %}
                                <p>
                                    <a class="link--black ts--alpha" href="{{ path('themes') }}">{% trans %}homepage.fields.more{% endtrans %}</a>
                                </p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="cta" class="cta-bar sc--lightorange">
            <div class="limit--16 center-column cp--v1 cp--h0-5 cta-buttons">
                <a href="https://spenden.wikimedia.de/apply-for-membership?piwik_campaign=wm.de_neu&piwik_kwd=mitglieds_btn"
                        class="cta-button cp--0-5 cm--0-5 corners corners--orange">
                    <div class="cta-button__inner">
                        <div class="tm--gamma t--caps t--strong">{% trans %}homepage.become.a.member.top{% endtrans %}</div>
                        <div class="tm--delta">{% trans %}homepage.become.a.member.bottom{% endtrans %}</div>
                    </div>
                </a>
                <a href="https://spenden.wikimedia.de/?piwik_campaign=wm.de_neu&piwik_kwd=spenden_btn"
                        class="cta-button cp--0-5 cm--0-5 corners corners--orange">
                    <div class="cta-button__inner">
                        <div class="tm--gamma t--caps t--strong">{% trans %}homepage.make.a.donation.top{% endtrans %}</div>
                        <div class="tm--delta">{% trans %}homepage.make.a.donation.bottom{% endtrans %}</div>
                    </div>
                </a>
            </div>
        </section>

        <section class="news sc--lightgray">
            <div class="news__inner limit--16 center-column cp--h1">
                <h1 class="tl--beta t--strong">{% trans %}homepage.news.header{% endtrans %}</h1>
                {% include 'sections/news.html.twig' %}
            </div>
        </section>

    </main>
{% endblock %}

{% block references %}
    <div class="refs-foldout ts--beta">
        <div class="limit--20 center-column cp--h1 cp--v1">
            <a class="refs-foldout__close" href="#close">{% trans %}footer.references.close{% endtrans %}</a>

            <div class="refs-foldout__content">
                <ol class="refs-index">
                    <div id="ref-1" class="ref" aria-label="reference number 1"><a href="#citation-1" class="ref__back">{% trans %}footer.references.jump.to{% endtrans %}</a> <span class="ref__number" aria-label="reference number 1">1</span> <span class="ref__authors">Inga Israel</span>, <a href="https://commons.wikimedia.org/wiki/File:Vision_Freies_Wissen_Illustration.png" class="ref__title">Vision Freies Wissen Illustration</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" class="ref__license">CC BY-SA 4.0</a></div>
                    <div id="ref-2" class="ref" aria-label="reference number 2"><a href="#citation-2" class="ref__back">{% trans %}footer.references.jump.to{% endtrans %}</a> <span class="ref__number" aria-label="reference number 2">2</span> <span class="ref__authors">René Zieger</span>, <a href="https://commons.wikimedia.org/wiki/File:Abraham_Taherivand_WMDE.jpg" class="ref__title">Abraham Taherivand WMDE</a>, <span class="ref__changes">Beschnitt von Atelier Disko</span>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" class="ref__license">CC BY-SA 4.0</a></div>
                    <div id="ref-3" class="ref" aria-label="reference number 3"><a href="#citation-3" class="ref__back">{% trans %}footer.references.jump.to{% endtrans %}</a> <span class="ref__number" aria-label="reference number 3">3</span> <span class="ref__authors">JOEXX</span>, <a href="https://commons.wikimedia.org/wiki/File:ZKM_Kubus_.jpg" class="ref__title">ZKM Kubus </a>, <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" class="ref__license">CC BY-SA 3.0</a></div>
                    <div id="ref-4" class="ref" aria-label="reference number 4"><a href="#citation-4" class="ref__back">{% trans %}footer.references.jump.to{% endtrans %}</a> <span class="ref__number" aria-label="reference number 4">4</span> <span class="ref__authors">René Zieger</span>, <a href="https://commons.wikimedia.org/wiki/File:Tim_Moritz_Hector_WMDE_03.jpg" class="ref__title">Tim Moritz Hector WMDE 03</a>, <span class="ref__changes">Beschnitt durch Atelier Disko</span>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" class="ref__license">CC BY-SA 4.0</a></div>
                    <div id="ref-5" class="ref" aria-label="reference number 5"><a href="#citation-5" class="ref__back">{% trans %}footer.references.jump.to{% endtrans %}</a> <span class="ref__number" aria-label="reference number 5">5</span> <span class="ref__authors">René Zieger</span>, <a href="https://commons.wikimedia.org/wiki/File:Sabria_David_WMDE_03.jpg" class="ref__title">Sabria David WMDE 03</a>, <span class="ref__changes">Beschnitt durch Atelier Disko</span>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" class="ref__license">CC BY-SA 4.0</a></div>
                    <div id="ref-6" class="ref" aria-label="reference number 6"><a href="#citation-6" class="ref__back">{% trans %}footer.references.jump.to{% endtrans %}</a> <span class="ref__number" aria-label="reference number 6">6</span> <span class="ref__authors">René Zieger</span>, <a href="https://commons.wikimedia.org/wiki/File:Kurt_Jansson_WMDE_02.jpg" class="ref__title">Kurt Jansson WMDE 02</a>, <span class="ref__changes">Beschnitt durch Atelier Disko</span>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" class="ref__license">CC BY-SA 4.0</a></div>
                    <div id="ref-7" class="ref" aria-label="reference number 7"><a href="#citation-7" class="ref__back">{% trans %}footer.references.jump.to{% endtrans %}</a> <span class="ref__number" aria-label="reference number 7">7</span> <span class="ref__authors">René Zieger</span>, <a href="https://commons.wikimedia.org/wiki/File:Sebastian_Moleski_WMDE.jpg" class="ref__title">Sebastian Moleski WMDE</a>, <span class="ref__changes">Beschnitt durch Atelier Disko</span>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" class="ref__license">CC BY-SA 4.0</a></div>
                    <div id="ref-8" class="ref" aria-label="reference number 8"><a href="#citation-8" class="ref__back">{% trans %}footer.references.jump.to{% endtrans %}</a> <span class="ref__number" aria-label="reference number 8">8</span> <span class="ref__authors">René Zieger</span>, <a href="https://commons.wikimedia.org/wiki/File:Harald_Krichel_WMDE.jpg" class="ref__title">Harald Krichel WMDE</a>, <span class="ref__changes">Beschnitt durch Atelier Disko</span>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" class="ref__license">CC BY-SA 4.0</a></div>
                    <div id="ref-9" class="ref" aria-label="reference number 9"><a href="#citation-9" class="ref__back">{% trans %}footer.references.jump.to{% endtrans %}</a> <span class="ref__number" aria-label="reference number 9">9</span> <span class="ref__authors">René Zieger</span>, <a href="https://commons.wikimedia.org/wiki/File:Lukas_Mezger_WMDE_02.jpg" class="ref__title">Lukas Mezger WMDE 02</a>, <span class="ref__changes">Beschnitt durch Atelier Disko</span>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" class="ref__license">CC BY-SA 4.0</a></div>
                    <div id="ref-10" class="ref" aria-label="reference number 10"><a href="#citation-10" class="ref__back">{% trans %}footer.references.jump.to{% endtrans %}</a> <span class="ref__number" aria-label="reference number 10">10</span> <span class="ref__authors">René Zieger</span>, <a href="https://commons.wikimedia.org/wiki/File:Johanna_Niesyto_WMDE.jpg" class="ref__title">Johanna Niesyto WMDE</a>, <span class="ref__changes">Beschnitt durch Atelier Disko</span>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" class="ref__license">CC BY-SA 4.0</a></div>
                    <div id="ref-11" class="ref" aria-label="reference number 11"><a href="#citation-11" class="ref__back">{% trans %}footer.references.jump.to{% endtrans %}</a> <span class="ref__number" aria-label="reference number 11">11</span> <span class="ref__authors">René Zieger</span>, <a href="https://commons.wikimedia.org/wiki/File:Peter_Dewald_WMDE.jpg" class="ref__title">Peter Dewald WMDE</a>, <span class="ref__changes">Beschnitt durch Atelier Disko</span>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" class="ref__license">CC BY-SA 4.0</a></div>
                    <div id="ref-12" class="ref" aria-label="reference number 12"><a href="#citation-12" class="ref__back">{% trans %}footer.references.jump.to{% endtrans %}</a> <span class="ref__number" aria-label="reference number 12">12</span> <span class="ref__authors">René Zieger</span>, <a href="https://commons.wikimedia.org/wiki/File:Gabriele_Theren_WMDE.jpg" class="ref__title">Gabriele Theren WMDE</a>, <span class="ref__changes">Beschnitt durch Atelier Disko</span>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" class="ref__license">CC BY-SA 4.0</a></div>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/views/pages/home.js') }}"></script>
{% endblock %}


