{% extends 'base.html.twig' %}

{#{% block title %}Hello {{ controller_name }}!{% endblock %}#}

{% block body %}
    <main id="main" class="home">
        <section class="illu-hero sc--lightgreen-gradient">
            <div class="illu-hero__green"></div>
            <div class="illu-hero__wrapper">
                <div class="illu-hero__inner limit--20 cp--h1 center-column">
                    <div class="illu-hero__cube"></div>
                </div>
            </div>
            <div class="illu-hero__wrapper--no-overflow">
                <div class="illu-hero__blue"></div>
            </div>
            <div class="illu-hero__inner limit--20 cp--h1 center-column">
                <div class="illu-hero__text tl--alpha">
                    {% trans %}homepage.vision.message{% endtrans %}
                </div>
            </div>
            <div class="illu-hero__lower sc--white">
                <div class="illu-hero__inner limit--20 cp--h1 center-column">
                    {# TODO (ref) #}
                </div>
            </div>
        </section>

        <section class="mission sc--white">
            <div class="mission__inner limit--16 cp--h1 cp--v2 center-column clearfix">
                <h1 class="mission__headline tl--beta t--strong">{% trans %}homepage.mission.header{% endtrans %}</h1>
                <div class="mission__text tl--gamma cp--0-5">
                    {% trans %}homepage.mission.message{% endtrans %}
                </div>
                <figure class="fig mission__image cm--l2 cm--t1">
                    <div>
                        <img src="{{ asset('img/mission_abraham.png') }}" class="fig__media" alt="Portrait of Abraham Taherivand">
                    </div>
                    {# TODO (ref) #}
                    <figcaption class="fig__caption mission__caption cm--l0-25">
                        <div class="tm--gamma t--caps">Abraham&nbsp;Taherivand</div>
                        <div class="tm--gamma">{% trans %}homepage.ED.title{% endtrans %}</div>
                    </figcaption>
                </figure>
            </div>
        </section>
        <section class="fields is-active-support">
            <div class="sc--lightblue fields--grid">
                <div class="limit--16 center-column cp--h1 cp--t1-25">
                    <h1 class="tl--beta t--strong">{% trans %}homepage.fields.header{% endtrans %}</h1>
                </div>
                <div class="field-buttons limit--16 center-column cp--h0-5 cp--t0-5 cp--b1-75">
                    <a
                            href="#fields-support"
                            class="field-button field-button--alpha corners corners--green cm--0-5 cp--0-5"
                            aria-controls="fields-blurb"
                            role="button"
                    >
                        <div class="field-button__inner tl--gamma">
                            {% trans %}homepage.fields.support.header{% endtrans %}
                        </div>
                    </a>
                    <a
                            href="#fields-dev"
                            class="field-button field-button--beta corners corners--green cm--0-5 cp--0-5"
                            aria-controls="fields-blurb"
                            role="button"
                    >
                        <div class="field-button__inner tl--gamma">
                            {% trans %}homepage.fields.development.header{% endtrans %}
                        </div>
                    </a>
                    <a
                            href="#fields-know"
                            class="field-button field-button--gamma corners corners--green cm--0-5 cp--0-5"
                            aria-controls="fields-blurb"
                            role="button"
                    >
                        <div class="field-button__inner tl--gamma">
                            {% trans %}homepage.fields.knowledge.header{% endtrans %}
                        </div>
                    </a>
                </div>
            </div>
            <div class="sc--white">
                <div class="fields__blurb-wrapper limit--16 center-column cp--b1 cp--h1">
                    <div id="fields-blurb" class="fields__blurb limit--8" aria-live="polite">
                        <div class="fields__blurb-top"></div>
                        <div class="fields__blurb-lower cp--0-5 tm--beta">
                            <article id="fields-support" class="fields__text">
                                {% trans %}homepage.fields.support.message{% endtrans %}
                            </article>
                            <article id="fields-dev" class="fields__text" hidden>
                                {% trans %}homepage.fields.development.message{% endtrans %}
                            </article>
                            <article id="fields-know" class="fields__text" hidden>
                                {% trans %}homepage.fields.knowledge.message{% endtrans %}
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="cta" class="cta-bar sc--lightorange">
            <div class="limit--16 center-column cp--v1 cp--h0-5 cta-buttons">
                <a
                        href="https://spenden.wikimedia.de/apply-for-membership?piwik_campaign=wm.de_neu&piwik_kwd=mitglieds_btn"
                        class="cta-button cp--0-5 cm--0-5 corners corners--orange"
                >
                    <div class="cta-button__inner">
                        <div class="tm--gamma t--caps t--strong">{% trans %}homepage.become.a.member.top{% endtrans %}</div>
                        <div class="tm--delta">{% trans %}homepage.become.a.member.bottom{% endtrans %}</div>
                    </div>
                </a>
                <a
                        href="https://spenden.wikimedia.de/?piwik_campaign=wm.de_neu&piwik_kwd=spenden_btn"
                        class="cta-button cp--0-5 cm--0-5 corners corners--orange"
                >
                    <div class="cta-button__inner">
                        <div class="tm--gamma t--caps t--strong">{% trans %}homepage.make.a.donation.top{% endtrans %}</div>
                        <div class="tm--delta">{% trans %}homepage.make.a.donation.bottom{% endtrans %}</div>
                    </div>
                </a>
            </div>
        </section>

        <section class="news sc--lightgray">
            <div class="news__inner limit--16 center-column cp--h1 cp--t2">
                <h1 class="tl--beta t--strong">{% trans %}homepage.news.header{% endtrans %}</h1>

                {% for article in news %}
                    <article
                        class="news__post cp--b2"
                        {% if loop.first %}id="news-stage" aria-live="polite"{% endif %}
                        {% if not loop.first %}hidden{% endif %}
                    >
                        <div class="news__box tagged--event limit--8 cm--l5 cp--v0-5 cp--r0-5 cp--l2-5 sc--white">
                            <h1 class="news__title tm--gamma t--caps">{{ article.type_message|trans }}</h1>
                            <div class="news__image active">
                                <figure class="fig">
                                    <img src="{{ article.image|e('html_attr') }}" class="fig__media"/>
                                </figure>
                            </div>

                            <div class="news__teaser tm--alpha">
                                <p>{{ article.title|e }}<br></p>
                            </div>
                            <div class="news__text tm--beta cm--b1">
                                <p>{{ article.text|e }}</p>
                            </div>

                            <a href="https://blog.wikimedia.de/2018/03/16/zentrum-des-freien-wissens-wikimedia-livein-karlsruhe/"
                               class="news__link link--black ts--alpha" target="new">
                                {{ article.link_message|trans }}
                            </a>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </section>

        <section class="team sc--white">
            <div class="team__inner limit--16 cp--h1 cp--t1-25 center-column">
                <h1 class="tl--beta t--strong">Our board</h1>

                {% for member in board %}
                    <article class="member cp--b4 clearfix" {% if loop.first %}id="member-stage" role="region" aria-live="polite"{% endif %}>
                        <h1 class="member__name" hidden>{{ member.name|e }}</h1>
                        <div class="member__image">
                            <figure class="fig member__fig">
                                <img src="{{ member.image|e('html_attr') }}" class="fig__media" alt="Portrait of {{ member.name|e('html_attr') }}" />
                                {#TODO: ref#}
                            </figure>
                        </div>
                        <div class="member__info limit--5">
                            <h2 class="member__role tm--alpha t--strong">{{ member.title|trans }}</h2>
                            <div class="member__text tm--beta" >
                                <p>
                                    {# TODO: the response model should contain the correct message already #}
                                    »{% if app.request.locale == 'de' %}{{ member.message_de|e }}{% else %}{{ member.message_en|e }}{% endif %}«
                                    <br>
                                </p>
                            </div>

                            <a class="member__link ts--alpha" href="{{ member.email|e('html_attr') }}">
                                <span class="ts--beta">E-mail:</span>
                                <span class="member__mail">{{ member.email|e }}</span>
                            </a>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/views/pages/home.js') }}"></script>
{% endblock %}


