{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/vendor/list.min.js') }}"></script>
    <script src="{{ asset('/js/components/wdiv-team.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/css/components/wdiv-radio-filter.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('/css/components/wdiv-team.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <main id="main">
        <h1>Mitarbeiter bei Wikipedia</h1>
        <a href="#">Zu Präsidium und Mitgliedern</a>
        {% include 'sections/team.html.twig' %}
    </main>
{% endblock %}
