{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/vendor/list.min.js') }}"></script>
    <script src="{{ asset('/js/components/wdiv-topics.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/css/components/wdiv-topics.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <main id="main">
        {% include 'sections/topics.html.twig' %}
    </main>
{% endblock %}
