{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/vendor/list.min.js') }}"></script>
    <script src="{{ asset('/js/components/wdiv-team.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/css/components/wdiv-radio-filter.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('/css/components/wdiv-team.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <main id="main">
        <div class="clearfix cp--h1 center-column wdiv-max-width-1190 wdiv-height-124">
            <h1 class="tl--gamma wdiv-margin-top-64">Präsidium</h1>
            <a class="wdiv-tm--epsilon" href="{{ path('index') }}">Zurück zu Menschen</a>
        </div>
        {% include 'sections/team.html.twig' %}
    </main>
{% endblock %}
