{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/vendor/list.min.js') }}"></script>
    <script src="{{ asset('/js/components/wdiv-team.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/css/components/wdiv-radio-filter.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('/css/components/wdiv-team.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <main id="main">
        <div class="wdiv-team-heading clearfix cp--h1 center-column wdiv-max-width-1190">
            <h1 class="tl--gamma wdiv-heading-title">Mitarbeitende</h1>
            <a class="wdiv-tm--epsilon" href="{{ path('index') }}">Zurück zu Menschen</a>
        </div>
        {% include 'sections/team.html.twig' %}

        <div class="clearfix cp--h1 center-column wdiv-max-width-1190" style="background-color: white;">
            <p class="ts--alpha">Alle Fotos von: Jan Apel, CC-BY-SA-4.0; außer Foto Jan Apel: Tjane Hartenstein, CC-BY-SA-4.0</p>
        </div>
    </main>
{% endblock %}
