{% for article in news %}
    <article
            class="news__post cp--b2"
            {% if loop.first %}id="news-stage" aria-live="polite"{% endif %}
            {% if not loop.first %}hidden{% endif %}
    >
        <div class="news__box tagged--event limit--8 cm--l5 cp--v0-5 cp--r0-5 cp--l2-5 sc--white">
            <h1 class="news__title tm--gamma t--caps">{{ article.type_message|trans }}</h1>
            <div class="news__image active">
                <figure class="fig">
                    <img src="{{ article.image|e('html_attr') }}" class="fig__media" />

                    {% if article.image_attribution %}
                        <figcaption class="image-caption-text">{{ article.image_attribution|e }}</figcaption>
                    {% endif %}
                </figure>
            </div>

            <div class="news__teaser tm--alpha">
                <p>{{ article.title|e }}<br></p>
            </div>
            <div class="news__text tm--beta cm--b1">
                {{ article.text|raw }}
            </div>

            <a href="{{ article.link|e('html_attr') }}"
               class="news__link link--black ts--alpha" target="new">
                {{ article.link_message|trans }}
            </a>
        </div>
    </article>
{% endfor %}