<div class="wdiv-team-wrapper wdiv-clearfix">
    <header class="wdiv-team-header">
        <div class="wdiv-team-filter">
            {% for domain in domains %}
                <p class="wdiv-team-filter-option"><input type="checkbox" value="{{loop.index}}" id="wdiv-group-filter-{{loop.index}}"><label for="wdiv-group-filter-{{loop.index}}">{{ domain.title }}</label></p>
            {% endfor %}
            <p>
                <button class="filter-reset">Filter aufheben</button>
            </p>
        </div>
    </header>
    <div class="wdiv-team-content">
    {% for domain in domains %}
    {% for team in domain.teams %}
        <div class="wdiv-group" data-group-id="{{loop.parent.loop.index}}">
            <h2 class="wdiv-group-title">{{ team.title }}</h2>
            {% if team.members is defined %}
            {% for person in team.members %}
                <div class="wdiv-group-item">
                    <h3 class="wdiv-person-title">{{ person.name }}</h3>
                    <p>{{ person.position }}</p>
                    <p><a href="{{ person.mail }}">E-Mail</a></p>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
    {% endfor %}
    </div>
</div>
