<div class="wdiv-team-wrapper">
    <header class="wdiv-team-header">
        <div class="wdiv-team-filter">
            {% for group in team %}
                <p><input type="checkbox" value="{{loop.index}}" id="wdiv-group-filter-{{loop.index}}"><label for="wdiv-group-filter-{{loop.index}}">{{ group.title }}</label></p>
            {% endfor %}
        </div>
    </header>
    <div class="wdiv-team-content">
    {% for group in team %}
        <p>{{ group.title }}</p>
        {% for person in group.members %}
            <p>{{ person.name }}</p>
            <p>{{ person.position }}</p>
            <p><a href="{{ person.mail }}">E-Mail</a></p>
        {% endfor %}
    {% endfor %}
    </div>
</div>
