<div class="wdiv-team-wrapper wdiv-clearfix">
    <header class="wdiv-team-header">
        <div class="wdiv-radio-filter">
            {% for domain in domains %}
                <p class="wdiv-radio-filter-col">
                    <input class="wdiv-hide-accessibly" type="radio" value="{{loop.index}}" name="wdiv-group-filter" id="wdiv-group-filter-{{loop.index}}" >
                    <label class="wdiv-radio-filter-option" for="wdiv-group-filter-{{loop.index}}"><span class="wdiv-radio-filter-indicator"></span>{{ domain.title }}</label>
                </p>
            {% endfor %}
            <p>
                <button class="wdiv-filter-reset">Filter aufheben</button>
            </p>
        </div>
    </header>
    <div class="wdiv-team-content">
    {% for domain in domains %}
    {% for team in domain.teams %}
        <div class="wdiv-group" data-group-id="{{loop.parent.loop.index}}">
            <h2 class="wdiv-group-title">{{ team.title }}</h2>
            {% if team.members is defined %}
            {% for person in team.members %}
                <div class="wdiv-group-item">
                    {# TODO: person.img should be set to default on controller #}
                    {% if person.img %}
                    <img src="/files/staff/{{ person.img }}" style="width: 100%">
                    {% else %}
                    <img src="/img/staff/default.jpg" style="width: 100%">
                    {% endif %}
                    <h3 class="wdiv-person-title">{{ person.firstname }} {{ person.lastname }}</h3>
                    <p>{{ person.title_de }}</p>
                    <p><a href="mailto:{{ person.mail }}">E-Mail</a></p>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
    {% endfor %}
    </div>
</div>
