<div class="wdiv-topics-wrapper">
    <header class="wdiv-topics-header">
        <div class="wdiv-topics-heading">
            <div class="wdiv-topics-heading-container">
                <h1 class="wdiv-topics-heading-title tl--gamma wdiv-serif cp--h1 center-column wdiv-max-width-1190">Unsere Themen</h1>
                <div class="wdiv-heading-boxes">
                    <span class="wdiv-heading-box wdiv-heading-box-1"></span>
                    <span class="wdiv-heading-box wdiv-heading-box-2"></span>
                    <span class="wdiv-heading-box wdiv-heading-box-3"></span>
                    <span class="wdiv-heading-box wdiv-heading-box-4"></span>
                </div>
            </div>
        </div>
        <div class="clearfix cp--h1 center-column wdiv-max-width-1190">
            <div class="wdiv-radio-filter wdiv-clearfix">
                {% for id, topic in topics %}
                    <p class="wdiv-radio-filter-col-3">
                        <input class="wdiv-hide-accessibly" type="radio" value="{{id}}" id="wdiv-radio-filter-{{id}}" name="wdiv-radio-filter">
                        <label class="wdiv-radio-filter-option" for="wdiv-radio-filter-{{id}}"><span class="wdiv-radio-filter-indicator"></span>{{ topic.title }}</label>
                    </p>
                {% endfor %}
                <p class="wdiv-radio-filter-col-3">
                    <button class="wdiv-filter-reset">Alle Projekte anzeigen</button>
                </p>
            </div>
        </div>
    </header>
    <div class="clearfix cp--h1 center-column wdiv-max-width-1190">
        <div class="wdiv-topics-content">
            <div class="wdiv-topic-header">
            {% for id, topic in topics %}
                <div class="wdiv-topic wdiv-topic-{{id}}" data-topic-id="{{id}}">
                    <div class="wdiv-topic-desc">
                        {% if topic.desc_title %}
                        <h2 class="tl--gamma cm--b1">{{ topic.desc_title }}</h2>
                        {% endif %}
                        <div>
                            {{ topic.desc | raw }}
                        </div>
                    </div>
                    <h2 class="wdiv-topic-title tm--alpha">Projekte aus dem Bereich {{ topic.title }}</h2>
                </div>
            {% endfor %}
            </div>
            <div class="wdiv-projects wdiv-clearfix">
            {% for project in projects %}
                <div class="wdiv-project {% if project.type is defined %}wdiv-project-{{project.type}}{% endif %}" data-topic-id="{{project.topic}}">
                    <img class="wdiv-project-img" src="{{ project.img }}">
                    <div class="wdiv-project-content">
                        <h3 class="wdiv-project-topic ts--alpha">{{ topics[project.topic].title }}</h3>
                        <h2 class="wdiv-project-title tl--gamma">{{ project.title }}</h2>

                        <div class="wdiv-project-body wdiv-tm--epsilon">
                            <p>{{ project.body | raw }}</p>

                            {# TODO: a better dataset would be iterating over an array #}
                            {% if project.url1 %}
                            <p class="wdiv-project-links ts--alpha">
                                <a target="_blank" rel="noopener noreferrer" href="{{ project.url1 }}">Mehr erfahren</a>
                            </p>
                            {% endif %}
                            {% if project.url2 %}
                            <p class="wdiv-project-links ts--alpha">
                                <a target="_blank" rel="noopener noreferrer" href="{{ project.url2 }}">Weiterer Link</a>
                            </p>
                            {% endif %}
                            {% if project.url3 %}
                            <p class="wdiv-project-links ts--alpha">
                                <a target="_blank" rel="noopener noreferrer" href="{{ project.url3 }}">Weiterer Link</a>
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
