<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Wikimedia Deutschland e. V.{% endblock %}</title>

        <link rel="icon" href="{{ asset('ico/app.png') }}">

        <!-- SEO -->
        {#<?php echo $this->seo->title() ?>#}
        {#<?php echo $this->seo->description() ?>#}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        {% endblock %}

        <!-- Social -->
        <meta property="og:url" content="https://www.wikimedia.de" />
        <meta property="og:image" content="{{ asset('ico/app.png') }}">
    </head>
    <body class="layout-default">
        <a href="#main" class="skip-nav">Navigation überspringen</a>
        <div class="wdiv-sidebar-alignment">
        <header class="mh">
            <div class="mh__inner clearfix limit--20 cp--h1 center-column">
                <a href="https://spenden.wikimedia.de/apply-for-membership?piwik_campaign=wm.de_neu&piwik_kwd=mitglieds_btn"
                        class="mh__support cp--0-5"
                        role="button"
                        aria-label="Go to the section ‚Support Free Knowledge‘">
                    <div class="wh__support-inner">
                        <div class="tm--gamma t--caps t--strong">{% trans %}header.support.knowledge.link{% endtrans %}</div>
                        <div class="tm--delta">{% trans %}header.support.knowledge.link.continued{% endtrans %}</div>
                    </div>
                </a>
                <div class="nav-locale-toggle ts--alpha">
                    <div class="nav-locale-wrapper">
                        <div class="nav-locale-toggle__locale">{{ app.request.locale|escape }}</div>
                        <nav class="nav-locale">
                            <a href="{{ path(app.request.attributes.get('_route'), {'_locale': 'de'}) }}" {% if app.request.locale == 'de' %}class="active"{% endif %}>Deutsch (de)</a>
                            <a href="{{ path(app.request.attributes.get('_route'), {'_locale': 'en'}) }}" {% if app.request.locale == 'en' %}class="active"{% endif %}>English (en)</a>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        {% block body %}{% endblock %}

        </div>

        <footer class="mf">
            <div class="limit--20 center-column cp--h1 cp--b0-5">
                <div class="mf__column cp--v1-25">
                    <a href="{{ path('index') }}" class="mf__logo logo logo--white logo--ir">Wikimedia Deutschland e. V.</a>
                </div>
                <div class="mf__column">
                    <div class="mf__column__inner cp--v1-25">
                        <div class="mf__column-title ts--alpha">{% trans %}footer.header.association{% endtrans %}</div>
                        <nav class="mf__nav ts--alpha">
                            <a href="{{ path('imprint') }}">{% trans %}footer.link.imprint{% endtrans %}</a>
                            <a href="#refs-foldout" class="toggle-refs-foldout">{% trans %}footer.link.license{% endtrans %}</a>
                            <a href="{{ path('transparency') }}">{% trans %}footer.link.transparency{% endtrans %}</a>
                            <a href="{{ path('charter') }}">{% trans %}footer.link.charter{% endtrans %}</a>
                            <a href="https://wikimedia-deutschland.softgarden.io/{{ app.request.locale }}/vacancies">
                                {% trans %}footer.link.jobs{% endtrans %}
                            </a>
                        </nav>
                    </div>
                    <div class="mf__column__inner cp--v1-25">
                        <div class="mf__column-title ts--alpha">{% trans %}footer.header.channels{% endtrans %}</div>
                        <nav class="mf__nav ts--alpha">
                            <a href="{% trans %}footer.link.blog.url{% endtrans %}" target="new">{% trans %}footer.link.blog{% endtrans %}</a>
                            <a href="https://www.facebook.com/WMDEeV" target="new">{% trans %}footer.link.facebook{% endtrans %}</a>
                            <a href="https://twitter.com/wikimediade" target="new">{% trans %}footer.link.twitter{% endtrans %}</a>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>

        {% block references %}{% endblock %}

        {% block javascripts %}
            <script>
				App = {
					"debug": false,
					"assets": {
						"base": "https:\/\/www.wikimedia.de\/assets\/v:1+a2cc69e"
					},
					"media": {
						"base": "https:\/\/www.wikimedia.de\/media"
					},
					"routes": [],
					"flash": null
				}
            </script>

            <script type="text/javascript" src="{{ asset('js/compat/core.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/require.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/base.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/views/layouts/default.js') }}"></script>
	  
	    <!-- Matomo -->
	    <script type="text/javascript">
	   	var _paq = _paq || [];
  		/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  		_paq.push(['trackPageView']);
  		_paq.push(['enableLinkTracking']);
  		(function() {
    			var u="//stats.wikimedia.de/";
    			_paq.push(['setTrackerUrl', u+'piwik.php']);
    			_paq.push(['setSiteId', '1']);
    			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    			g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  		})();
	    </script>
	    <!-- End Matomo Code -->

        {% endblock %}
    </body>
</html>

